
# macOS
.DS_Store

# Xcode user data
macos/RunRat.xcodeproj/xcuserdata/
macos/RunRat.xcodeproj/project.xcworkspace/xcuserdata/
macos/RunRat.xcodeproj/project.xcworkspace/

# Build artefacts
dist/
build/
